:root {
  --background: #f5eee6;
  --second-color: #f3d7ca;
  --button-background: #c2aca1;
  --third-color: #e6a4b4;
  --fourth-color: #c86b85;
  --input-color: #fcf9f7;
  --twoButtons-color: #8F3854;
  --updateAndHeaderBtn-color: #AB516C;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

