.navbar.bg-dark-subtle.mb-3.border.border-3.border-secondary {
    min-width: 100% !important;
    max-width: 100% !important;
    
}

.bi.bi-trash-fill.custom-right-arrow {
    background-color: darkgray;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;

    font-size: 27.5px !important;

}

.bi.bi-trash-fill.custom-right-arrow:hover {
    color: red;
}

.bi.bi-patch-plus-fill.custom-right-arrow {
    font-size: 35px !important;
}

.bi.bi-patch-plus-fill.custom-right-arrow:hover {
    color: red;
}
