.navbar.mb-3.border.border-3.border-secondary {
    min-width: 100% !important;
    max-width: 100% !important;

    background-color: var(--third-color);
}

.bi.bi-trash-fill.custom-right-arrow {
    background-color: var(--button-background);
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;

    font-size: 27.5px !important;

}

.bi.bi-trash-fill.custom-right-arrow:hover {
    color: var(--twoButtons-color);
    background-color: #e5c79b;
    border: 2px solid black !important;
}

.bi.bi-patch-plus-fill.custom-right-arrow {
    font-size: 35px !important;
    color: var(--updateAndHeaderBtn-color);
}

.bi.bi-patch-plus-fill.custom-right-arrow:hover {
    color: var(--twoButtons-color);
}

/* https://palettes.shecodes.io/palettes/568 */