.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.task {
    max-width: 90% !important;
}

.row.max-height60 {
    min-height: 67.5px !important;
    max-height: 68px !important;

    background-color: #FFEFFC;
    color: #010004;
    border: 1px solid black;
    border-radius: 10px;

    /* Here i need to add the on hover for the web view */
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row.justify-content-center {
    padding-left: 12px;
    padding-right: 12px;
}

.col-9.d-flex.justify-content-center.align-items-center {}

.col-3.no-padding {
    margin-top: 8px;

}

.mb-3.ms-1.btn.btn.btn-secondary {}

.row.max-height60 .col-9 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit the content to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}