@media (max-width: 480px) {

    .no-padding {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .no-padding-right {
        padding-right: 0 !important;
    }

    .task {

        max-width: 40% !important;
        /* max-width: 90% !important; */
        min-width: 301.5px !important;
    }

    .row.max-height60 {
        min-height: 67.5px !important;
        max-height: 68px !important;

        background-color: #FFEFFC;
        color: #010004;
        border: 1px solid black;
        border-radius: 10px;

        /* Here i need to add the on hover for the web view */
    }

    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;

    }

    .row.justify-content-center {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .col-3.no-padding {
        margin-top: 8px;

    }

    .update-button {
        background-color: darkgrey;
        color: black;
        margin-bottom: 1rem;
        margin-left: 0.25rem;
        cursor: pointer;
        font-size: xx-large;

        padding-top: 3px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        font-size: 27.5px !important;
    }

    .update-button:hover {
        background-color: darkgoldenrod;
    }

    /* AddTask styles */

    .bi.bi-plus-square-fill.mt-2 {
        color: black;
        margin-bottom: 1rem;
        margin-left: 0.25rem;
        cursor: pointer;
        font-size: xx-large;

        font-size: 40.5px !important;
    }

    .bi.bi-plus-square-fill.mt-2:hover {
        color: green;
    }

    .mt-3.pt-2 {
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 30px;

        /* max-width: 90%; */
        justify-items: center;
        margin-left: auto;
        margin-right: auto;

        max-width: 40% !important;
        min-width: 301.5px !important;
    }

    .dashed {
        border-top: 2px solid;
    }

    /* Update.js styles */

    .update-task {
        border: 1px solid black;
        border-radius: 10px;
    }

    .bi.bi-check-square-fill {
        color: black;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        margin-left: 0.25rem;
        cursor: pointer;
        font-size: xx-large;

        font-size: 40.5px !important;
    }
}

@media (min-width: 481px) {

    .col-9.d-flex.justify-content-center.align-items-center {}

    .no-padding {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .no-padding-right {
        padding-right: 0 !important;
    }

    .task {

        max-width: 30% !important;
        /* max-width: 90% !important; */

        min-width: 301.5px !important;
    }

    .row.max-height60 {
        min-height: 67.5px !important;
        max-height: 68px !important;

        background-color: var(--third-color);
        color: #010004;
        border: 1px solid black;
        border-radius: 10px;

        /* Here i need to add the on hover for the web view */
    }

    .row.max-height60:hover {
        min-height: 67.5px !important;
        max-height: 68px !important;

        background-color: var(--fourth-color);
        color: #010004;
        border: 1px solid black;
        border-radius: 10px;

        /* Here i need to add the on hover for the web view */
    }

    .container {

        padding-left: 0 !important;
        padding-right: 0 !important;

        max-width: 100% !important;

    }

    .row.justify-content-center {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .col-3.no-padding {
        margin-top: 8px;

    }

    .update-button {
        /* background-color: var(--button-background); */
        background-color: var(--updateAndHeaderBtn-color);
        /* color: var(--updateAndHeaderBtn-color); */

        margin-bottom: 1rem;
        margin-left: 0.25rem;
        cursor: pointer;
        font-size: xx-large;


        padding-top: 3px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        font-size: 27.5px !important;

    }

    .update-button:hover {
        /* background-color: #e5c79b; */
        background-color: var(--second-color);
        border: 2px solid black !important;
        /* color: #8F3854; */
        color: var(--twoButtons-color);
        
    }

    /* AddTask styles */

    .bi.bi-plus-square-fill.mt-2 {
        color: var(--updateAndHeaderBtn-color);
        margin-bottom: 1rem;
        margin-left: 0.25rem;
        cursor: pointer;
        font-size: xx-large;

        font-size: 40.5px !important;
    }

    .bi.bi-plus-square-fill.mt-2:hover {
        color: var(--twoButtons-color);
    }

    .mt-3.pt-2 {
        background-color: var(--second-color);

        box-shadow: 1.5px 3px 5px #888888;

        width: 28.2%;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 30px;

        /* max-width: 90%; */
        justify-items: center;
        margin-left: auto;
        margin-right: auto;


        /* max-width: 40% !important; */
        /* this was the problem */

        min-width: 301.5px !important;
    }

    .mt-3.pt-2:hover {
        background-color: var(--second-color);

        box-shadow: 5px 7.5px 5px#888888;

        /* box-shadow: var(--body-shadow); */

        width: 28.2%;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 30px;

        /* max-width: 90%; */
        justify-items: center;
        margin-left: auto;
        margin-right: auto;


        /* max-width: 40% !important; */
        /* this was the problem */

        min-width: 301.5px !important;
    }

    .dashed {
        border-top: 2px solid;
    }

    /* Update.js styles */

    .update-task.mt-2 {
        border: 1px solid black;
        border-radius: 10px;
        background-color: var(--second-color);
    }

    .update-task.mt-2:hover {
        background-color: var(--second-color);
        box-shadow: 5px 7.5px 5px #888888;
    }

    .bi.bi-check-square-fill {
        color: var(--updateAndHeaderBtn-color);
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        margin-left: 0.25rem;
        cursor: pointer;
        font-size: xx-large;
        font-size: 40.5px !important;
    }

    .bi.bi-check-square-fill:hover {
        color: var(--twoButtons-color);
    }

    /* 
    .update-task.mt-2:hover .task-name {
        background-color: blue !important;
    } */


    .task-name {
        background-color: var(--background);
    }

    .task-name:hover {
        background-color: gainsboro;
    }

    .task-time {
        background-color: var(--background);
    }

    .task-time:hover {
        background-color: gainsboro;
    }

    .task-date {
        background-color: var(--background);
    }

    .task-date:hover {
        background-color: gainsboro;
    }
}