.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.task {
    max-width: 40% !important;
    /* max-width: 90% !important; */
    min-width: 301.5px !important;
}

.row.max-height60 {
    min-height: 67.5px !important;
    max-height: 68px !important;

    background-color: #FFEFFC;
    color: #010004;
    border: 1px solid black;
    border-radius: 10px;

    /* Here i need to add the on hover for the web view */
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container.mb-2.no-padding-right {}

.row.justify-content-center {
    padding-left: 12px;
    padding-right: 12px;
}

.col-3.no-padding {
    margin-top: 8px;

}

.update-button {
    background-color: darkgrey;
    color: black;
    margin-bottom: 1rem;
    margin-left: 0.25rem;
    cursor: pointer;
    font-size: xx-large;

    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-size: 27.5px !important;
}

.update-button:hover {
    background-color: darkgoldenrod;
}

/* AddTask styles */

.bi.bi-plus-square-fill.mt-2 {
    color: black;
    margin-bottom: 1rem;
    margin-left: 0.25rem;
    cursor: pointer;
    font-size: xx-large;

    font-size: 40.5px !important;
}

.bi.bi-plus-square-fill.mt-2:hover {
    color: green;
}

.mt-3.pt-2 {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;

    /* max-width: 90%; */
    justify-items: center;
    margin-left: auto;
    margin-right: auto;

    max-width: 40% !important;
    min-width: 301.5px !important;
}

.dashed {
    border-top: 2px solid;
}

/* Update.js styles */

.update-task {
    border: 1px solid black;
    border-radius: 10px;
}

.bi.bi-check-square-fill {
    color: black;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    margin-left: 0.25rem;
    cursor: pointer;
    font-size: xx-large;

    font-size: 40.5px !important;
}